#un__notifications {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .card {
    border-radius: 3px;
    max-width: 17.5rem;

    .un__card-title {
      font-size: 20px;
      font-weight: bold;
    }
  }
}